{{- defineDatasource "deployment" "env:///DEPLOYMENT?type=application/json" -}}
{{- $deployment := ds "deployment" -}}
{{ printf "{{ %s }}" $deployment.imports.dozzle.runtime.credentials.agent_private_key }}
