{{- defineDatasource "deployment" "env:///DEPLOYMENT?type=application/json" -}}
{{- $deployment := ds "deployment" -}}
{{ printf "{{ op://%s/%s/agent_private_key }}" $deployment.vaults.services $deployment.imports.dozzle.item }}
